<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/>

    <title>Clermont Travel</title>

    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
</head>
<body>

<!-- Page Content -->
<div class="container">

    <!-- Header Content -->
    <div class="row">
        <div class="col">
            <h1 class="my-5 text-center">Mes annonce de voyage</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 px-2">
            <button class="btn btn-info float-end" id="add-item">Ajouter une announce</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 m-3" id="table-announce">
        </div>
    </div>

</div>

<script src="./../../src/Controllers/home/home-controller.js"></script>

</body>
</html>
